.card {
  max-width: 35%;
  height: 100%;
  .card-body_text {
    text-align: center;
  }
  .card-star {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }
  .card-box-star{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

  }
  .card-delete{
    margin-left: 8px;
  }
}
